
@media only screen and (max-width: 1000px) {
    
  .header img{
height: 350px;
  }
 
 
  }

.header{
    width: 85%;
}
.header-text{
    text-align: center;
}
.header-text #div1{
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
color: rgb(83, 0, 161);
font-size: 40px;
}
.header-text #div2{
    font-weight: bolder;
    color: rgb(83, 0, 161);
    text-align: center;
    font-size: 30px;
}
.header-text button{
    background-color: rgb(91, 0, 177);
    font-size: 25px;
}
.header-text button:hover{
    background-color: rgb(91, 0, 177);
}
.search-bar .card{
background-color: white;
border: none;


}
.search-bar input[type="search"]{
    height: 50px;
   border: 2px solid blueviolet;
}
.search-container input{
  width: 600px;
  border-radius: 20px;
  height: 40px;
  padding-left: 30px;
margin-top: 50px;
}
.search-container input:hover{
    outline: none;
}
.search-container{
    margin-left: 400px;
}
.search-container i{
    margin-left: -30px;
    color: blue;
    height: 40px;
    width: 40px;
}